<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estrategia Org Departamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <form th:action="@{/dpto/grabar/REST}" th:object="${dpto}" method="POST">
            <div class="card">
                <div class="card-header">
                    <h3>Departamento</h3>
                </div>
                <div class="card-body">a
                    <div class="form-group">
                        <label>ID</label>
                        <input th:field="*{id}" type="text" class="form-control" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label>ID Departamento Padre</label>
                        <input th:field="*{org_departamento_id_padre}" type="number" class="form-control" placeholder="Ingrese ID del Departamento Padre"/>
                    </div>

                    <div class="form-group">
                        <label>Nivel</label>
                        <input th:field="*{nivel}" type="number" class="form-control" placeholder="Ingrese el Nivel"/>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese el Nombre"/>
                    </div>

                    <div class="form-group">
                        <label>Alias</label>
                        <input th:field="*{alias}" type="text" class="form-control" placeholder="Ingrese el Alias"/>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <input th:field="*{descripcion}" type="text" class="form-control" placeholder="Ingrese la Descripción"/>
                    </div>

                    <div class="form-group">
                        <label>Orden</label>
                        <input th:field="*{orden}" type="number" class="form-control" placeholder="Ingrese el Orden"/>
                    </div>

                    <div class="form-group">
                        <label>Fecha Registro</label>
                        <input th:field="*{fecha_registro}" type="date" class="form-control" placeholder="Seleccione la Fecha de Registro"/>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>